<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
   <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>
   <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
   <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
   <link rel="shortcut icon" href="/favicon.ico">
   <meta name="twitter:site" content="@{{site.twitter_username}}">
   {% if page.title %}<meta name="twitter:title" content="{{page.title}}">
   {% else %}<meta name="twitter:title" content="{{site.title}}">
   {% endif %}
   <meta name="twitter:description" 
   {% if post.description %}
      content="{{ post.description | strip | truncate: 135 }}">
   {% else %}
      {% if page.description %}
         content="{{ page.description | strip | truncate: 135 }}">
      {% else %}
         {% if post.content %}
            content="{{ post.content | strip_html | truncate: 135 }}">
         {% else %}
            {% if page.content %}
               content="{{ page.content | strip_html | truncate: 135 }}">
            {% else %}
               content="{{ site.description | strip | truncate: 135 }}">
            {% endif %}
         {% endif %}
      {% endif %}
   {% endif %}
   {% if page.image %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{"/img" | prepend: site.baseurl | prepend: site.url | append : page.image}}">
      {% if page.image-alt %}<meta name="twitter:image:alt" content="{{page.image-alt}}">{% endif %}
   {% endif %}
   <style>
{% capture include_to_scssify %}
{% include main.scss %}
{% endcapture %}
{{ include_to_scssify | scssify }}
   </style>
</head>
