<aside class="sidebar">

  <div class="widget widget-author">
    <div class="author-avatar">
      <a href="{{ "/about/" | prepend: site.baseurl }}"><img src="{{"/img/" | prepend: site.baseurl | append : site.author-avatar }}" /></a>
    </div>
    <div class="author-name">
       <h4><a href="{{ "/about/" | prepend: site.baseurl }}">{{ site.author-name }}</a></h4>
    </div>
    <div class="author-jobtitle">
       <p>{{ site.author-jobtitle }}</p>
    </div>
  </div>

  <div class="widget widget-social">
    <h3 class="widget-title">Follow</h3>
    <ul class="social-profiles list-reset">

      <li class="social-profiles-item">
        <a href="{{ root_url }}{{ site.baseurl }}/feed.xml" class="social-profiles-link"><i class="ion ion-logo-rss"></i></a>
      </li>

       {% if site.twitter %}
      <li class="social-profiles-item">
        <a href="{{ site.twitter }}" class="social-profiles-link"><i class="ion ion-logo-twitter"></i></a>
      </li>
      {% else %} {% endif %}

      {% if site.linkedin %}
      <li class="social-profiles-item">
        <a href="{{ site.linkedin }}" class="social-profiles-link"><i class="ion ion-logo-linkedin"></i></a>
      </li>
      {% else %} {% endif %}

      {% if site.github %}
      <li class="social-profiles-item">
        <a href="{{ site.github }}" class="social-profiles-link"><i class="ion ion-logo-github"></i></a>
      </li>
      {% else %} {% endif %}

      <!-- {% if site.contact %}
      <li class="social-profiles-item">
        <a href="{{ site.contact }}" class="social-profiles-link"><i class="ion ion-mail"></i></a>
      </li>
      {% else %} {% endif %} -->

      {% if site.keybase %}
      <li class="social-profiles-item">
        <a href="{{ site.keybase }}" class="social-profiles-link"><i class="ion ion-md-key"></i></a>
      </li>
      {% else %} {% endif %}
    </ul>
  </div>

  {% if page.id %}
  <div class="widget widget-recent">
    <h3 class="widget-title">Recent Posts</h3>
    {% for post in site.posts limit:4 %}
      {% if page.id != post.id %}
         <div class="recent-posts">
            {% if post.image %}
            <div class="recent-header">
            <a class="recent-image" href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" style="background-image: url({{"/img/" | prepend: site.baseurl | append: post.image}})"></a>
            </div>
            {% else %}
            {% endif %}
            <div class="recent-content">
            <h6 class="recent-title"><a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h6>
            <div class="recent-date">
               <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%-d %B %Y"}}</time>
            </div>
            </div>
         </div>
      {% endif %}
    {% endfor %}
  </div>
  {% else %}

  {% endif %}

  {% if page.id %}
      <div class="widget widget-recent">
         {% if page.next.url %}
            <h3 class="widget-title">Next article</h3>
            <div class="recent-posts">
               {% if page.next.image %}
               <div class="recent-header">
                  <a class="recent-image" href="{{ root_url }}{{ page.next.url | prepend: site.baseurl }}"
                   style="background-image: url({{"/img/" | prepend: site.baseurl | append: page.next.image}})"></a>
               </div>
               {% endif %}
               <div class="recent-content">
               <h6 class="recent-title"><a href="{{ root_url }}{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a></h6>
               <div class="recent-date">
                  <time datetime="{{ page.next.date | date_to_xmlschema }}">{{page.next.date | date: "%-d %B %Y"}}</time>
               </div>
               </div>
            </div>
         {% endif %}
         {% if page.previous.url %}
            <h3 class="widget-title">Previous article</h3>
            <div class="recent-posts">
               {% if page.previous.image %}
               <div class="recent-header">
                  <a class="recent-image" href="{{ root_url }}{{ page.previous.url | prepend: site.baseurl }}"
                   style="background-image: url({{"/img/" | prepend: site.baseurl | append: page.previous.image}})"></a>
               </div>
               {% endif %}
               <div class="recent-content">
               <h6 class="recent-title"><a href="{{ root_url }}{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a></h6>
               <div class="recent-date">
                  <time datetime="{{ page.previous.date | date_to_xmlschema }}">{{page.previous.date | date: "%-d %B %Y"}}</time>
               </div>
               </div>
            </div>
         {% endif %}
      </div>
  {% endif %}

   <div class="widget widget-archive">
      <h3 class="widget-title">Post archive</h3>
      {% assign yearposts = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
      <div class="archive-posts">
         {% for year in yearposts %}
            <div class="row archive-content">
               <h6 class="archive-title">
                  <a href="/{{ year.name }}/">{{ year.name }}</a>
                  <span class="archive-size">
                     ( {{ year.size }} posts )
                  </span>
               </h6>
            </div>
         {% endfor %}
      </div>
   </div>

   <div class="widget widget-tags">
      <h3 class="widget-title"><a href="/tags/">Tag Cloud</a></h3>
      {% assign quantified = "" | split: "" %}
      {% for tag in site.tags %}
         {% if tag[1].size > 1 %}
            {% assign quantified = quantified | push: tag %}
         {% endif %}
      {% endfor %}
      {% capture tag_words %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
      {% assign sorted_tag_words = tag_words | split:',' | sort %}
      <ul class="tag-list list-reset">
         {% for tag_word in sorted_tag_words %}
            {% for tag in site.tags %}
               {% if tag[0] == tag_word %}
                  {% if tag[1].size > 1 or quantified > 20 %}
                     <li class="tag-item">
                        <a href="{{ site.baseurl }}/tags/#{{ tag | first | slugify | cgi_escape }}" class="tag">
                           {{ tag | first }}
                        </a>
                     </li>
                  {% endif %}
               {% endif %}
            {% endfor %}
         {% endfor %}
      </ul>
   </div>

</aside> <!-- /.sidebar -->
